body {
  /* font-family: "Ubuntu"; */
  font-family: "PT Sans";
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  background: transparent;
  width: 100%;
  border: none;
  border-top: solid 1px #bfc0c3;
}
br {
  clear: both;
}

.App {
  height: 297mm;
  width: 210mm;
  /* outline: 1px black solid; */
  margin: 0 auto;
}
.light, .hover-light:hover {
  color: #8a8b8a!important;
}
.dark, .hover-dark:hover {
  color: #777776!important;
}
.blue {
  color: #00a4d8!important;
}
.black {
  color: #000!important
}
.bold {
  font-weight: 700;
}
.italic {
  font-weight: 400;
  font-style: italic;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.text {
  font-size: 1.3em;
}
.no-padding {
  padding: 0;
}

.invoice-title {
  text-align: right;
  font-size: 5em;
  margin-bottom: -15px;
}
.invoice-id {
  float: left;
  text-align: left;
  font-size: 1.3em;
}
.abn {
  float: right;
  font-size: 1.8em;
}

.col-left {
  padding-right: 20px;
  text-align: right;
}
.col-right {
  padding-left: 20px;
  text-align: left;
}
.section .title {
  background-color: #00a4d8!important;
  color: #ffffff!important;
  font-weight: bold;
  font-size: 2em;
  padding: 0 5px 0 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.section-left .title {
  padding-right: 35px;
}
.section-right .title {
  padding-left: 35px;
}
.section .content {
  font-size: 1.3em;
}
